h2 {
    font-family: 'Lucida Console', 'Courier New', monospace;
    text-decoration: underline;
    font-size: 18px;
  }
  
  label {
    font-family: 'Lucida Console', 'Courier New', monospace;
    font-size: 16px;
    vertical-align: top;
  }
  
  button {
    padding: 5px 10px;
  }
  